<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/faviconNoBg.ico' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/faviconNoBg.ico' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>{% block titulo %}SkiOffBounds - Gestor de Estaciones de Esquí{% endblock %}</title>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div id="content">
         <header>
            <a href="{% url 'skioffbounds:index' %}" class="logo-link">
                <img src="{% static 'assets/images/logoNoBg.png' %}" alt="SkiOffBounds Logo" class="logo">
                <h1>SkiOffBounds</h1>
            </a>
        </header>
        <!-- Navegación común para todas las páginas -->
        <nav>
            <ul>
                <li><a href="{% url 'skioffbounds:index' %}">Estaciones</a></li>
                <li><a href="{% url 'skioffbounds:localizaciones' %}">Localizaciones</a></li>
                <li><a href="{% url 'skioffbounds:tipos_pista' %}">Tipos de Pista</a></li>
            </ul>
        </nav>
        
        <!-- Contenido específico de cada página -->
        {% block contenido %}{% endblock %}
        
        <!-- Footer común -->
        <footer>
            <p>&copy; 2025 SkiOffBounds - Encuentra tu estación perfecta</p>
        </footer>
    </div>
</body>
</html>
